name: release
on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  tag:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - id: vars
        run: |
          echo "pkg_json_version=$(grep -o '[0-9]\.[0-9]\.[0-9]' package.json | head -1)" >> "$GITHUB_OUTPUT"
      - name: setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm run bundle
      - run: npm publish
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.vars.outputs.pkg_json_version }}
          name: v${{ steps.vars.outputs.pkg_json_version }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
